name: Dependabot Auto Merge

on:
  pull_request_target:
    types: [opened, reopened, synchronize, labeled]

permissions:
  pull-requests: write
  contents: write

jobs:
  enable-auto-merge:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge for Dependabot
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          merge-method: squash
